<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ title }} {{number}}</h1>
        <p>{{number}}</p>
        <ul>
            <li v-for="(drink,idx) in drinks">{{drink}} -- {{idx}}</li>
            <!-- <li v-for="drink of drinks">{{drink}}</li> -->
        </ul>
        <div v-for="drink of drinks">{{drink}}</div>
        <img :src="image" :alt="title" :title="text">
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    title: 'Qwerty',
                    number: 100,
                    image: 'https://picsum.photos/id/45/300',
                    text:'Picsum Photos',
                    drinks: ['紅茶','綠茶','拿鐵','冰淇淋紅茶']
                }
            }
        });
        
        app.mount('#app')
    </script>
</body>
</html>